.ani006 {
	transition-property: all;
	transition-duration: 60ms;
	-moz-transition-property: all;
	-moz-transition-duration: 60px;
}

.ani01 {
	transition-property: all;
	transition-duration: 100ms;
}

.ani02 {
	transition-property: all;
	transition-duration: 200ms;
}

.ani04 {
	transition-property: all;
	transition-duration: 400ms;
}
