[data-controller="feed"] {
    max-width: 1000px;
    margin: 10px auto 0;
}

.left-column,.right-column {
    display: inline-block;
    vertical-align: top;
}

.white-box {
    border: 1px solid #d0d0d0;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px #CFCFCF;
}

.right-column {
    width: 300px;
    position: fixed;
    padding-right: 10px;
    box-sizing: border-box;
}

.left-column {
    width: calc(100% - 320px);
    margin: 0 10px;
}

.user-new-post-image {
    display: inline-block;
    width: 55px;
    height: 55px;
    margin: 20px 20px 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    box-shadow: 0 1px 3px #BABABA;
    vertical-align: top;
}

textarea.new-post-text {
    margin-top: 20px;
    width: calc(100% - 120px);
    border: 0px solid;
    font-family: Open Sans,sans-serif;
    font-size: 16px;
    height: 58px;
    margin-bottom: 10px;
    max-width: calc(100% - 120px);
    min-width: calc(100% - 120px);
    min-height: 62px;
}

.new-post-interaction {
    border-top: 1px solid #E7E7E7;
}

.new-post-interaction > * {
    display: inline-block;
    vertical-align: top;
}

.new-post-interaction {
    padding: 10px;
    height: 28px;
}

.new-post-interaction .post {
    float: right;
}

.new-post-interaction .icon-earth {
    color: #B3B1B1;
    position: relative;
    top: 4px;
    margin-left: 10px;
}

.new-post-interaction .public-text {
    position: relative;
    font-size: 15px;
    margin-left: 9px;
    color: #B3B1B1;
    top: 2px;
}

.feed-title {
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    font-size: 15px;
    text-indent: 5px;
    margin-top: 14px;
    margin-bottom: 5px;
}

.perma-option {
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.perma-options > :last-child {
    border: none !important;
}

.perma-options > div {
    border-bottom: 1px solid #E7E7E7;
}

.perma-option > * {
    display: inline-block;
}

.perma-option > :first-child {
    margin-right: 15px;
    font-size: 19px;
    position: relative;
    top: 3px;
}

.feed-pool > * {
    margin-bottom: 16px;
}

.white-box.tournament-browser {
    margin-top: 10px;
}

.tournament-browser .title {
    text-transform: uppercase;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    font-size: 13px;
    padding: 4px 0;
    color: #494949;
    background: #F5F5F5;
   border-radius: 4px 4px 0 0;
}

.white-box.tournament-browser .opts > * {
   width: 145px;
    display: table-cell;
   text-align: center;
   padding: 17px 10px 13px;
   vertical-align: top;
   box-sizing: border-box;
   color: #666;
   font-size: 12px;
   cursor: pointer;
}

.no-touch .white-box.tournament-browser .opts > *:hover {
   background: #F5F5F5;
}

.white-box.tournament-browser .opts > *:first-child {
   border-right: 1px solid #E7E7E7;
}

button.browse-tournaments-btn {
    border: none;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background: #7DB632;
    color: white;
    height: 22px;
    padding: 5px 0;
    display: block;
    box-sizing: content-box;
    cursor: pointer;
    font-size: 15px;
}

button.browse-tournaments-btn .icon-search {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

.white-box.tournament-browser .opts > *:last-child {
    border: none;
}

.white-box.tournament-browser .opts > * > * > :first-child {
    font-size: 23px;
    margin-bottom: 9px;
}

.right-footer-info {
    color: gray;
    font-size: 12px;
    text-shadow: 0 1px #fff;
    margin: 0 2px;
    margin-top: 8px;
    text-align: center;
}

.right-footer-info .lang {
    cursor: pointer;
}

.side-ads > :last-child > :last-child {
    margin-bottom: 0px;
}
