.footer {
    background: #EBEBEB;
    width: 100%;
}

.sponsors-title {
    text-align: center;
    padding: 10px 0;
    color: #B2B2B2;
    font-size: 13px;
}

.version a:hover {
    text-decoration: underline;
}

.version a {
    color: #939393;
    text-decoration: none;
}

.bottom-line {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.bottom-line .dev {
    float: right;
}

.bottom-line {
    color: gray;
    font-size: 11px;
    padding: 10px;
    text-shadow: 0 1px white;
}

.bottom-line .dev a {
    color: #575757;
    font-weight: bold;
    text-decoration: none;
}

.copyright {
    float: left;
}

.footer-white-line {
    background: white;
    height: 300px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #D2D2D2;
}

.belt {
    max-width: 1000px;
    height: 100%;
    margin: auto;
}

.left-section {
    width: 410px;
    border-right: 1px solid #D2D2D2;
    height: 100%;
}

.left-section .title {
    padding-top: 35px;
    font-size: 20px;
    text-indent: 10px;
    margin-bottom: 8px;
}

.belt > * {
    display: inline-block;
    vertical-align: top;
}

.link-col-container > .link-col {
    display: inline-block;
    vertical-align: top;
    max-width: 250px;
}

.link-col-container>.link-col>.link {
    display: block;
    font-size: 12px;
    color: gray;
    margin-right: 20px;
    margin-bottom: 4px;
    max-width: 230px;
    margin-left: 10px;
    text-decoration: none;
    cursor: pointer;
}

.belt > * {
    display: inline-block;
    vertical-align: top;
}

.right-section {
    width: calc(100% - 411px);
    padding-top: 15px;
    padding-left: 9px;
    box-sizing: border-box;
}

.right-section .top-section .text {
    font-size: 13px;
    margin-left: 140px;
}

.right-section .top-section .logo {
    width: 100px;
    height: 100px;
    float: left;
    background: url(/img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 20px 10px 20px;
}

.right-section .top-section .title {
    padding-top: 25px;
    padding-bottom: 15px;
    color: #575757;
    font-weight: bold;
}

.title.follow-us {
    margin-left: 137px;
}

.footer .social-container {
    margin-left: 121px;
    line-height: 45px;
}

.footer .social-container > * {
    display: inline-block;
    font-size: 40px;
    margin: 0 20px 0 0;
    vertical-align: baseline;
    cursor: pointer;
    color: gray;
    text-decoration: none;
}

.footer .social-container > .icon-facebook {
    position: relative;
    top: -5px;
}

.footer .social-container > .icon-facebook:hover {
    color: #0068FF;
}

.footer .social-container > .icon-google-plus:hover {
    color: red;
}

.footer .social-container > .icon-twitter:hover {
    color: #00E9FF;
}

.footer .social-container > .icon-instagram:hover {
    color: brown;
}

@media screen and (max-width: 1000px) {

    .footer-white-line {
        height: auto;
    }

    .left-section, .right-section {
        display: block;
        border: none;
        height: auto;
        margin: auto;
    }

    .left-section {
        width: 390px;
    }

    .right-section {
       max-width: 600px;
       min-width: 400px;
       margin-bottom: 20px;
    }

}

@media screen and (max-width: 795px) {

   .right-column {
      display: none;
   }

   .left-column {
      width: calc(100% - 20px);
   }

}

@media screen and (max-width: 436px) {

    .belt .logo {
        float: none !important;
        display: inline-block;
    }

    .left-section .link {
       font-size: 10px !important;
    }

    .left-section {
        width: 320px;
    }

    .belt {
        width: 100%;
    }

    .belt .top-section, .belt .right-section {
        text-align: center;
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
        padding: 20px;
        box-sizing: border-box;
    }

    .belt .right-section *:not([class^="icon-"]) {
        margin: 0px !important;
    }

}
