.footer {
    background: #EBEBEB;
    width: 100%;
}

.sponsors-title {
    text-align: center;
    padding: 10px 0;
    color: #B2B2B2;
    font-size: 13px;
}

.sponsors {
    background-image: url(/img/sponsors.jpg);
    background-size: contain;
    height: 80px;
    opacity: .5;
    background-position: 50%;
    background-repeat: no-repeat;
}

.supporters-line {
    background: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
}

.version a:hover {
    text-decoration: underline;
}

.version a {
    color: #939393;
    text-decoration: none;
}

.bottom-line {
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

.bottom-line .dev {
    float: right;
}

.bottom-line {
    color: gray;
    font-size: 11px;
    padding: 10px;
    text-shadow: 0 1px white;
}

.bottom-line .dev a {
    color: #575757;
    font-weight: bold;
    text-decoration: none;
}

.copyright {
    float: left;
}
