.carousel {
    background-image: url(/img/mainbg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -50px;
    height: 550px;
    color: white;
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #969696;
}

.carousel .tagline {
    padding-top: 10%;
    margin: 0 0 20px 0;
    font-size: 25px;
}
