.settings-container {
    margin: 10px auto;
    max-width: 1000px;
}

.settings-selector {
    display: inline-block;
    width: 250px;
}

.settings-selector-group.white-box > * {
    display: block;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.no-touch .settings-selector-group.white-box > a:not(.expandable):hover {
    background: #F0F0F0;
}

a.settings-option.selected {
    box-shadow: inset 7px 0px 0 #7DB633;
}

.settings-selector-group.white-box .title,
.settings-page-group .title {
    cursor: default;
    background: rgba(243, 243, 243, 0.63);
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 3px 3px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
}

.settings-selector-group.white-box > .inner {
    background: #F9F9F9;
    padding-left: 40px;
}

.settings-page {
    display: inline-block;
    width: calc(100% - 260px);
    vertical-align: top;
}

.settings-selector-group.white-box {
    margin: 0 10px;
}

.settings-selector-group.white-box:not(:first-child) {
    margin-top: 10px;
}

a.settings-option:last-child {
    border-radius: 0 0 3px 3px;
    border-bottom: none;
}

.settings-page-group.white-box {
    padding-bottom: 20px;
}

.prop-desc {
    padding: 5px 20px 0 20px;
    font-size: 13px;
}

.prop-name {
    font-weight: bold;
    color: gray;
    padding: 10px 20px 5px;
    font-size: 15px;
}

.prop-input {
    border: 1px solid #D3D3D3;
    margin: 0 0 0 20px;
    border-radius: 3px;
    width: 350px;
    height: 20px;
    padding: 5px 10px;
    line-height: 20px;
    font-size: 15px;
    max-width: calc(100% - 60px);
    background: #F8F8F8;
    box-shadow: inset 2px 2px 5px #EFEFEF;
}

.prop-verified {
    padding: 9px 0 0 20px;
    color: #7DB632;
    font-weight: bold;
    font-size: 14px;
}

.prop-verified .icon-checkmark {
    margin-right: 7px;
}

[data-controller=settingsAdminConfiguration] .prop-input {
    width: calc(50% - 65px);
    max-width: calc(50% - 65px);
    margin: 9px 0 9px 20px;
}

.no-touch .app-config-pair:not(.new):hover {
    cursor: pointer;
}

.app-config-pair .icon-cross {
   color: hsla(0,0%,50%,.26);
   position: relative;
   top: 4px;
   padding: 14px;
   font-size: 14px;
   float: right;
}

.app-config-pair {
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    min-height: 55px;
}

.app-config-pair.new {
    border-bottom: 1px solid hsla(0, 0%, 85%, 0.52);
    background: hsla(0,0%,95%,.5);
}

.app-config-pair :not(input).key.prop-input {
    background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    width: calc(50% - 65px);
    display: inline-block;
    color: #636363;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.app-config-pair:nth-child(even) {
    background: #FBFBFB;
}

.prop-hr {
    border-top: 1px solid #E5E5E5;
    margin-top: 15px;
}

.settings-page .acc {
    padding: 10px 20px 0;
}

.settings-page .acc .connection-status {
    float: right;
}

.acc .img {
    width: 40px;
    height: 40px;
    background-size: cover;
    display: inline-block;
    vertical-align: top;
    background-repeat: no-repeat;
    float:left;
    position:relative;
    top:2px;
}

.acc .prop-desc {
    font-size: 12px;
    padding-left: 60px !important;
    display: block;
}

.no-touch .acc span.dc:hover {
    text-decoration: underline;
    cursor: pointer;
}

.acc .connected {
   text-align: right;
}

.acc span.dc {
    display: block;
    font-size: 11px;
    font-weight: normal;
    color: gray;
}

.settings-toggler {
    display: none;
    /*position: fixed;*/
    background: white;
    width: calc(100% - 20px);
    margin-left: 10px;
    border-radius: 3px;
    text-align: center;
    padding: 9px;
    box-sizing: border-box;
    border: 1px solid #D6D6D6;
    cursor: pointer;
    margin-bottom: 10px;
}

.settings-toggler .icon-circle-left {
    margin-right: 7px;
}

@media screen and (max-width: 674px) {

    .hide {
        display: none !important;
    }

    .settings-toggler {
      display: block;
   }

   .settings-selector {
      width: 100%;
   }

    .settings-page {
       width: calc(100% - 20px);
       margin: 0px 10px 0;
    }

}

span.acc-id {
    display: inline;
    font-size: 11px;
    color: gray;
    padding: 0 0 0 20px;
    position: relative;
    top: -2px;
}
