.comment-container(data-comment-id=comment.id)
   if(comment.deletable)
      .icon-cross
   a.comment-user-image(style="background-image:url("+comment.userImage+")" href=""+comment.user_id)
   .comment-info
      a(href="/"+comment.user_id).comment-user-display-name=comment.displayName
      .comment-text=comment.text
      .inline-stuff
         .comment-date(data-date=comment.date)
            span.date-number
            span.date-text
         a.comment-like(tabindex=0 class=+comment.selfLiked?"liked":"")
            .icon-like
            .like-text(data-html-like)=coreText.like
            .comment-interaction-pool=+comment.likes||''
