.footer
   .supporters-line
      .sponsors-title(data-html-sponsors_title)=coreText.sponsors_title
      .sponsors
   .links
   .bottom-line
      .dev
         span conjured by 
         a(href="https://fb.com/kosmas.papadatos") raelgor
      .copyright=coreText.copyright_stamp
      .version
         a(href="https://github.com/raelgor/zen-arena")='v'+global.version
