head
    title=meta.title
    link(href="source/styles.css?v=1",	rel="stylesheet",	type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,greek-ext", rel="stylesheet", type="text/css")
    link(rel="shortcut icon",	href=global.favicon)