include home.jade
include unsubscribe_success.jade
doctype html
html(lang=global.language)
    include head.jade
    body
        .content(data-section=mainSection.template)
            include auth_dialogs.jade
            include navigation.jade
            if(mainSection.template === 'home')
               mixin home(mainSection)
            if(mainSection.template === 'unsubscribe_success')
               mixin unsubscribe_success(mainSection)
        include footer.jade
