doctype html
html(lang=global.language)
    include head.jade
    body
        .content
            include auth_dialogs.jade
            include navigation.jade
            include home.jade
        include footer.jade