mixin unsubscribe_success(data)
   .unsub-wrapper
      span.icon-checkmark
      span.text(data-html-unsubscribe_all_success)=core_text.unsubscribe_all_success
      .unsub-undo(tabindex=0)=core_text.undo
