html
   head
      link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&amp;subset=latin,greek-ext", rel="stylesheet", type="text/css")
   body(style="background: rgb(74, 74, 74);text-align: center;font-family: Open Sans, sans-serif;text-shadow: 0 -1px black;color: silver;")
      img(src="/img/logo.png",style="width:140px;margin:30px 0 0 0;")
      div(style="font-size:40px;")=coreText.maintenance_main_message
      div(style="margin:10px 0 0 0;")=coreText.maintenance_sub_message
